/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    height: 100vh;
}

/* Buttons */
.btn {
    border: none;
    cursor: pointer;
    padding: .75rem 1rem;
    border-radius: .25rem;
}

.btn-search {
    color: #fff;
    background-color: #1e88e5;
}

.btn-location {
    color: #fff;
    background-color: #6d6d6d;
}

/* Alert */
.alert-error {
    color: #fff;
    background-color: #d32f2f;
    padding: 1rem;
}

/* Layout */
.page-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 1rem;
}

.sidebar {
    background-color: #1e1e1e;
    padding: 1rem;
    border-radius: .25rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 8px 0px;
}

.page-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

/* Form */
.city-form {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.city-form label {
    font-weight: 700;
}

.city-form input {
    padding: .5rem;
    background-color: #2a2a2a;
    color: #e0e0e0;
    border: 1px solid #3d3d3d;
    border-radius: .25rem;
}

/* Separator */
.separator {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.separator::before,
.separator::after {
    flex: 1;
    content: ' ';
    padding: .5px;
    background-color: #6d6d6d;
}

/* Titles */
.section-title {
    margin-bottom: 1rem;
}

/* Weather Panel */
.weather-panel {
    padding: 1rem;
    border-radius: .25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 8px 0px;
}

.weather-details {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.weather-panel img {
    width: 80px;
}

.weather-panel .date {
    font-weight: 700;
}

.weather-panel.today {
    color: #fff;
    background-color: #1e88e5;
}

.weather-panel.forecast {
    color: #e0e0e0;
    background-color: #1e1e1e;
}

/* Weather Items */
.weather-items {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 1rem;
}

/* Responsive Design */
@media screen and (min-width: 760px) {
    .page-container {
        grid-template-columns: 360px 1fr;
        height: 100%;
    }
}
